.card{
    width: 300px;
    padding: 10px;
    margin-bottom: 50px;
}
.card-container{
    border: 2px solid #808080;
    border-radius: 15px;
    margin: 5px;
    position: relative;
}
.card img{
    width: 300px;
    border-radius: 20px;
}
.card-container button{
    border: 0;
    width: 100%;
    background-color: #FFE0B3;
    margin-top: 30px;
    padding: 10px ;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0%;
}
.card-container button:hover{
    background-color: orange;
}